<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
        class="[&>p]:mb-4 [&>strong]:text-yellow-400 text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Johann Bonilla Bolivar. Empece en la programacion a los 15
            años y actualmente estoy teminando mi carrera de Tecnologia en
            Desarrollo de Software para luego realizar la Ingenieria.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
            explicabo expedita dolor corporis, ex excepturi, harum dolorem hic
            accusantium qui quia incidunt reprehenderit. Suscipit consequuntur
            quasi rem distinctio ipsum animi!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            excepturi ipsum rem totam vero iusto iste soluta quos vel optio
            accusamus possimus dolor praesentium cupiditate perspiciatis,
            doloribus repellat vitae magni numquam illo non reprehenderit
            temporibus.
        </p>
    </div>
    <img
        src="/img/photo_profile_1.webp"
        class="rounded-full size-64 order-1 md:order-2 object-cover object-center"
    />
</section>
