---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente',
        title: 'Universidad',
        description: 'En estos momentos estoy estudiando mi carrera de Tecnologia en Desarrollo de Software y estoy apunto de culminarla para obtener mi titulo. En la universidad he manejado lenguajes como HTML, CSS, JavaScript, Java, Python, PHP, MySQL, Kotlin.',
        // link: '#',
    },
    {
        date: 'Junio 2021',
        title: 'Curso del Sena',
        description: 'Realize un curso virual en el sena el cual vimos las bases de la programacion y utilizamos el lenguaje C# en la creacion de algunos juegos sencillos para la practica.',
        link: '#',
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
