<footer
    class="rounded-lg m-4 w-full max-w-[900px] mx-auto mb-10"
>
    <div
        class="w-full p-4 flex items-center justify-between md:mx-auto"
    >
        <!-- <span class="text-sm sm:text-center text-yellow-200/90"
            >© 2023 <a href="https://flowbite.com/" class="hover:underline"
                >Flowbite™</a
            >. All Rights Reserved.
        </span> -->
        <span class="text-sm sm:text-center text-yellow-200/90"
            >© sin derechos reservados
        </span>
        <ul
            class="flex flex-wrap gap-x-6 items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
        >
            <li>
                <a href="#sobre-mi" class="hover:underline"
                    >Sobre mi</a
                >
            </li>
            <li>
                <a
                    href="mailto:johannbb0508@gmail.com"
                    class="hover:underline">Contacto</a
                >
            </li>
        </ul>
    </div>
</footer>
