---
const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="inline-flex items-center gap-x-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-lime-600 focus:z-10 focus:outline-none focus:text-blue-700 dark:bg-indigo-900 dark:text-gray-200 dark:border-indigo-900 dark:hover:text-lime-300"
>
    <!-- <slot name="icon-left" /> -->
    <slot />
    <!-- <slot name="icon-right" /> -->
</a>
